NEXT_PUBLIC_APP_ENVIROMENT=local
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://lifeos.test/api
# Open API generatic
NEXT_PUBLIC_ORVAL_API_URL=
NEXT_PUBLIC_OPENAPI_API_KEY=
NEXT_PUBLIC_OPENAPI_API_SECRET=